<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>my-one-half | UNIQLO二手衣商城</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class='container-fluid'>
        {%include 'header.html'%}
        <div class='row'>
            <div class='col-sm-2 col-md-2'>
                <div class='panel panel-default'>
                    <div class='panel-body'>
                        <div class='list-group'>
                            <a href='/' class='list-group-item'>首頁</a>
                            <a href='/store/goods/outer' class='list-group-item'>外套</a>
                            <a href='/store/goods/tops' class='list-group-item'>衣料品</a>
                            <a href='/store/goods/bottoms' class='list-group-item'>褲/裙</a>
                        </div>
                        <script type="text/javascript"
                            src="http://feedjit.com/serve/?vv=1515&amp;tft=3&amp;dd=0&amp;wid=&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=190&amp;wne=6&amp;srefs=0"></script>
                        <noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript>
                    </div>
                </div>
            </div>
            <div class='col-sm-10 col-md-10'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class='panel-body'>
                        {% block content %} {% endblock %}
                    </div>
                    <div class='panel-footer'>
                        {% include 'footer.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>