<a href='/'>最新消息</a> <a href='/'>聯絡我們</a> <a href='/'>常見問題</a> <a href='/'>品牌簡介</a>

<p style='font-family: 微軟正黑體;font-size: 10pt;font-weight: plain;'>
    (MON-FRI) 9:00 – 18:00<br><br>
    TEL:(02)2995-9996 / FAX:(02)2995-9978<br><br>
    service@myonehalf.com.tw<br><br>
    2021 MYONEHALF .ALL Rights Reserved
</p>