<!--header.html-->

{% load static %}

<div class='well'>
    <img src="{% static 'image/logo.png'%}"><br>
    {%if acc%}
    <a href='/'>首頁</a> <a href='/member/logout'>登出</a> <a href='/member/info'>會員中心</a>
    {%else%}
    <a href='/'>首頁</a> <a href='/member/login'>登入</a> <a href='/member/register'>註冊</a>
    {%endif%}


</div>