<!--index.html-->
{%extends 'base.html'%}
{%block headmessage%}
<h3>本站商品列表</h3>
{% endblock %}

{%block content%}

{%for item in UQItems%}
<p style='font-family: 微軟正黑體;font-size: 14pt;font-weight: bold;'>
    <a href='/store/goods/{{item.UNIQLOID}}'>{{item.UNIQLOTitle}}</a>
</p>
{% endfor %}

{%if message%}
<div class='alert alert-warning'>{{message}}</div>
{%endif%}
{% endblock %}