<!--login.html-->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>my-one-half | UNIQLO二手衣商城</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
        integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class='container-fluid'>
        {%include 'header.html'%}
        <div class='row'>
            <div class='col-sm-12 col-md-12'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        <form name='login' action='/member/login' method='POST'>
                            {%csrf_token%}
                            <!-- {% block headmessage %} {% endblock %} -->
                            <h3>登入</h3>
                    </div>
                    <div class='panel-body'>
                        <!-- {% block content %} {% endblock %} -->
                        {%if isMember%}
                        登入成功！ 系統自動跳轉...
                        {%else%}
                        {{form.as_ul}}
                        <div class='panel-footer'>
                            <input type='submit' value='送出'>
                            </form>
                            <!-- {% include 'footer.html' %} -->
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>